html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
}

footer {
    background-color: #353535;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    color: white;
}